#carte{
    margin:0 auto ;
    text-align: center;
    align-content: center;
    padding: initial;
    margin: auto;
}

h1{
    color: red;
}
body{
    background-image: url(Image/x1080.jpg);
}
p{
    color: transparent;
}
a{
    color: transparent;
}
a:visited{
    color: transparent;
}
a:hover{
    color: transparent;
}

#carte2{
    margin:0 auto ;
    text-align: end;
    align-content: flex-end;
    padding: initial;
    margin: auto;
}
